@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Saira:wght@400;700&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Saira', sans-serif;
    scroll-behavior: smooth;
    background-color: #f5f5f5;
}

.hero-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.leather-texture {
    background-image: url('../images/agenda_bg.png');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.music-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.bg-rodape {
    background-color: rgb(56, 31, 1);
}

.bg-nav {
    background-color: rgb(56, 31, 1);
    color: white;
}

.bg-mobile {
    color: rgb(56, 31, 1);
}